body {
    background-color: #e5e5e5;
}
.container{
box-sizing: border-box;
position: absolute;
width: 500px;
left: 470px;

background: #FFFFFF;
border: 1px solid #E7E6EB;
box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.08);
border-radius: 8px;
padding: 40px
}
.container1{
width: 258px;
height: 50px;
background: url(image);
margin-left: 0px; 

}
b {
    width: 74px;
height: 38px;
left: 510px;
top: 603px;

font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 38px;
color: #333333;
}
h2 {

width: 239px;
height: 28px;
left: 510px;
top: 657px;
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
color: #333333;
}
h5 {
 width: 426px;
height: 68px;
font-family: 'Roboto';
font-style: normal;
font-size: 16px;


color: #333333;
}
.h6 {
    margin: 0; 
    font-family: 'Roboto';
font-style: normal;
font-size: 16px;
color: #666666;

}
.container2{
height: 40px;
width: 402px;
}
.container3 {
    width: 100%;
    height: 55px;
    background: #FBBF23;
    border-radius: 8px;

}
.abc {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;

    text-align: center;
}
.container4{ 
    width: 100%;
    height: 55px;
    border: 1px solid #61A5FA;
    border-radius: 8px;
    margin-top: 50px;
    padding-top: 20px;
    
}
.abc1 {
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
margin: 0%;

text-align: center;

color: #333333;
}
.abc2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    margin: 0%;
    
    text-decoration-line: underline;
    color: #61A5FA;
}





